
<%= form_for(@video) do |f| %>
  
  <div class="row">
    <div class="col-sm-4">
      <%= f.label :title, "Title:" %>
      <%= f.text_field :title %><br>
      <%= f.label :year, "Year:" %>
      <%= f.text_field :year %><br><br>
    </div>

    <div class"col-sm-8">
      <%= f.label :url, "URL:" %>
      <%= f.text_field :url, class:"col-sm-8" %><br><br>
    </div>
  </div> <!--row1-->

  <div class="row">
      <%= f.label :notes, "Video Notes:" %>
      <%= f.text_area :notes, class: "well col-sm-12" %>
      <%= f.hidden_field :user_id %><br><br>
  </div> <!--row2-->   

  <h3>Steps/Timestamps:</h3>

   <ul class="list-group timemarkers">
        <%@video.timemarkers.order("step_id").each do |tm|%>
          <% if tm.id #don't include blank list item (result of the build?)%>
            <li class="list-group-item" data-id="<%= tm.id %>">
              <%=tm.step.name%> 
              -  at: <%=tm.marker%>
              <span class="pull-right x" style="color: red; cursor: pointer;">X</span>
            </li>
          <%end%>
        <%end%>
      </ul>
      <br>

 
   <%= f.fields_for :timemarkers, @video.timemarkers.build do |t| %>
  
   <div class="dropdown add_step">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Add Step/Timestamp
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#" id="from_library">From my library</a></li>
          <li><a href="#" id="add_new">Add New</a></li>
        </ul>
    </div>
    <a href="#" id="cancel">Cancel</a><br><br>

        
    <div class="row">
      <div class="col-sm-12">

        <div class="timestamp_field">
          <%= t.label :marker, "Timestamp where step occurs (required)*:"%>
          <%= t.text_field :marker, :class => "timestamp" %>
        </div>

      
        <div class="new_step_fields_group">
          <%= t.fields_for :step, @video.timemarkers.build.build_step do |s| %><br>
            <%= s.label :name, "Step Name:"%>
            <%= s.text_field :name, :class => "name_field" %><br><br>
            <%= s.label :level_of_mastery, "Current level of mastery (1-10):" %>
            <%= s.number_field :level_of_mastery, max: 10, min: 0, :class =>"lom_field" %><br><br>
             <%= s.label :notes, "Notes:"%><br>
            <%= s.text_area :notes, class: "well col-sm-8" %><br><br> 
        </div><br><br> 
          
      
         <div class="step_dropdown">
            <%= s.label :id, "Step:" %>
            <%= s.collection_select(:id, current_user.steps.order(:name), :id, :name, include_blank: true )%><br>
         </div><br>
         

          <%= s.hidden_field :user_id, :value => params[:user_id] %>
        <% end %>

      <% end %>

      <br><%= f.submit :class => "btn btn-warning "%>
        
      </div><!--row3-->   
     
<%end%>



