<div class="container">
<%= render 'errors_messages' %>
 <h1>Edit Video:</h1>
  <div class="jumbotron">

    <div class="youtube_container_edit">
     <iframe width="854" height="480" src= "http://www.youtube.com/embed/<%=YoutubeID.from(@video.url) %>" frameborder="0" allowfullscreen></iframe>
    </div>

<%= render 'video_form'%>

<%= link_to "Delete Video", user_video_path(current_user, @video), :method => "delete", :class => "text-danger pull-right", data: { confirm: "Delete this from your library?" } %><br><br>

<%= link_to "<< Back to video", user_video_path(current_user, @video)%>

</div> <!--jumbotron-->
</div> <!--container-->
