
<div class="container">
  <h3>Edit Video:</h3>
  <div class="jumbotron">

    <form method="post" action="/videos/<%=@video.id%>">
      <input type="hidden" id="hidden" name="_method" value="PATCH">

    <div class="row">
      <div class="col-sm-4">
        <label for="video_title">Title:</label>
        <input type="text" name="video[title]" id="video_title" value="<%=@video.title%>"><br>
        <label for="year">Year:</label>
        <input type="text" name="video[year]" id="year" value ="<%=@video.year%>"><br><br>
      </div>

      <div class"col-sm-8">
        <label for="url">URL:</label>
        <input class="col-sm-8" type="text" name="video[url]" id="url" value="<%=@video.url%>"><br><br>
      </div>
    </div> <!--row1-->

    <div class="row">
      <label for="notes">Video notes:</label><br>
      <input class="well col-sm-12" name="video[notes]" id="notes" cols="30" rows="5" value="<%=@video.notes%>">
    </div> <!--row2-->

    <div class="row">
      <h4>Add a step to this video:</h4>
      <div class="col-sm-4">   
        <label for="name">Step Name:</label><br>
        <input type="text" name="step[name]" id="name"> <br><br>
        <label for="level_of_mastery">Current level of mastery (1-10):</label><br>
        <input type="text" name="step[level_of_mastery]" id="level_of_mastery" ><br><br>
      </div>

      <div class="col-sm-8">   
        <label for="notes">New step notes:</label><br>
        <input class="well col-sm-12" name="step[notes]" id="notes">
      </div>
    </div> <!--row3-->
 

    <div class="row">
      <h4>Steps currently associated with this video:</h4>    
      <% current_user.steps.each do |step| %>
        <label class="checkbox-inline no_indent" for="<%=step.id%>">      
        <input type="checkbox" id="<%=step.id%>" name="video[step_ids][]" value="<%= step.id %>" <%= 'checked' if @video.steps.include?(step)%>> <%= step.name %></input><br>
        </label>      
      <% end %> <br><br>
    </div> <!--row4-->

    <div class="row"> 
      <input class="btn btn-info pull-left" type="submit" value="Save Changes">
</form> <!--end of "edit" form-->
      <form method="post" action="/videos/<%=@video.id%>/delete">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <input class="btn btn-danger pull-right" type="submit" value="Delete Video">
      </form><!--end of "delete" form -->
    </div> <!--row5-->

  </div> <!--jumbotron-->
</div> <!--container-->