<div class="container">
  <button class="btn btn-primary navbar-btn heading">
    <%= link_to "Add a New Video", new_user_video_path(current_user, @video) %>
  </button>

   <form class=" dropdown-toggle-default pull-right">
  <h4>Filter by Style:</h4>
    <%= select("style", "id", Style.all.map {|s| [s.name, s.id] }, {:include_blank => 'All'}) %>
    <input type="submit" value="Submit" />
  </form><br><br>

   <%= form_tag(user_videos_path(current_user), :method => "get", id: "search-form", class: "pull-right") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search all videos" %>
    <%= submit_tag "Search" %>
  <% end %>

 

  <h2 class="heading">My Videos:</h2>

    <% if params[:search] && @videos.empty? %>
      <p class ="alert alert-warning">
        Sorry! Could not find any videos containing the term "<%= params[:search] %>."
      </p>
    <% end %>

    <ol>
      <%@videos.order(:title).each do |video|%>
      <li>
        <div class="panel panel-info">
        <div class="panel-heading"><%= link_to "#{video.title}", user_video_path(current_user, video)%></div>
           <div class="panel-body">
              <p class="col-sm-4">
                Styles:<br> <%video.styles.uniq.each do |style|%>
                  <span class="label label-warning"><%=style.name%></span>
                <%end%><br><br>
                Year: <%=video.year%><br>
              </p>

            <div class="col-sm-4 well">Notes:<br> <%=video.notes%></div>
          
            <div class="col-sm-4">     
              Associated Steps:
              <ul>
                <%video.steps.uniq.each do |step|%>
                  <li><%= link_to "#{step.name}", user_step_path(current_user, step)%></li>
                <%end%>
              </ul>
            </div>

        </div> <!--panel body-->
      </div> <!--panel-->
    </li>
  <%end%>
  </ol>
</div> <!--container-->
 


    

