<div class="container" id="videos_index" data-user-id="<%= current_user.id %>">
  <button class="btn btn-primary navbar-btn heading">
    <%= link_to "Add a New Video", new_user_video_path(current_user, @video) %>
  </button>

   <form class=" dropdown-toggle-default pull-right">
  <h4>Filter by Style:</h4>
    <%= select("style", "id", current_user.styles.map {|s| [s.name, s.id] }, {:include_blank => 'All'}, style: "background-color: white;") %>
    <input type="submit" value="Submit" />
  </form><br><br>

   <%= form_tag(user_videos_path(current_user), :method => "get", id: "search-form", class: "pull-right") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search all videos" %>
    <%= submit_tag "Search" %>
  <% end %>


  <h2 class="heading">My Videos:</h2>

    <% if params[:search] && @videos.empty? %>
      <p class ="alert alert-warning">
        Sorry! Could not find any videos containing the term "<%= params[:search] %>."
      </p>
    <% end %>

    <ul class="bullet-free">
      <%@videos.order(:title).each do |video|%>
      <li>
        <div class="panel panel-info">
          <div class="panel-heading" style="min-height: 4em;">
            <%= link_to "#{video.title} - #{video.year}", user_video_path(current_user, video)%>
             <span class= "pull-right trigger btn btn-primary" id="trigger" data-id="<%= video.id%>">Show</span><br>

            <%video.styles.uniq.each do |style|%>
              <span class="label label-warning"><%=style.name%></span>
            <%end%>

           
          </div><!--panel-heading-->

           <div class="panel-body" data-id="<%= video.id%>">
              <div class ="row">
                <div class="col-sm-4">    
                  Associated Steps:<br>
                  <ul>
                    <%video.steps.uniq.each do |step|%>
                      <li><span><%= link_to "#{step.name}", user_step_path(current_user, step)%></span></li>
                    <%end%>
                  </ul>
                </div>

                  <div class="col-sm-6 well">Notes:<br> <%=video.notes%></div>
              </div>
            
          

        </div> <!--panel body-->
      </div> <!--panel-->
    </li>
  <%end%>
  </ul>
</div> <!--container-->

<div class="text-center">
     <%= paginate @videos %> <br>
     <%= page_entries_info @videos %>
<div>



<!--HandleBars template for video drop down-->
<script  id="video-template" type="text/x-handlebars-template">

      <div class="youtube_container_show">
         <iframe width="854" height="480" src= "http://www.youtube.com/embed/" frameborder="0" allowfullscreen></iframe>
      </div><!--youtube_container_show-->
      
      <br><br>

      <div class="col-sm-12 well">Notes:<br> {{notes}}</div><br>

</script>

 


    

