<body id="show_page">
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4><%=@video.title%> <%if !@video.year.nil?%> (<%=@video.year%>) <%end%></h4>
    </div>
    <div class="panel-body">

        <iframe width="1100" height="400" src= "http://www.youtube.com/embed/<%=YoutubeID.from(@video.url) %>" frameborder="0" allowfullscreen></iframe><br>
      
      <br><br>

      <div class="col-sm-12 well">Notes:<br> <%=@video.notes%></div>

      <h3>My steps:</h3><br>
        <ol>
          <%@video.steps.uniq.each do |step|%>
            <li><h4><%= link_to "#{step.name}", user_step_path(current_user, step)%>
                 -  at: <%= Timemarker.filter_by_instance(step.id, @video.id)%></h4>
            Current level of mastery: <%=step.level_of_mastery%>
              <ul>
                <%step.styles.each do |style|%>
                <span class="label label-primary"><%=style.name%></span>
                <%end%><br><br>
              </ul>
            </li>
          <%end%>
        </ol>

      <button class="btn btn-warning">
        <%= link_to "Edit Video", edit_user_video_path(current_user, @video), style: "color: white; text-decoration: none;" %>
      </button>

    </div><!--panel body-->
  </div> <!--panel-->
</div><!--container-->
</body>



