<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h2><%=@video.title%> <%if !@video.year.nil?%> (<%=@video.year%>) <%end%></h2>
    </div>
    <div class="panel-body">

      <div class="youtube_container_show">
         <iframe width="854" height="480" src= "https://www.youtube.com/embed/<%=YoutubeID.from(@video.url) %>" frameborder="0" allowfullscreen></iframe>
      </div><!--youtube_container_show-->
      
      <br><br>

      <div class="col-sm-12 well">Notes:<br> <%=@video.notes%></div>

      <h3>Steps:</h3>
        <ol class="list-group" id="video-steps">
          <%@video.steps.uniq.each do |step|%>
              <li class="list-group-item" id="step-list">
                  <%= link_to "#{step.name}", user_step_path(current_user, step)%>
                  -  at: <%= Timemarker.filter_by_instance(step.id, @video.id)%><br>
                  <%step.styles.each do |style|%>
                      <span class="label label-success" id="step-tags"><%=style.name%></span>
                  <%end%> 
                  <span class="pull-right">Current level of mastery: <%=step.level_of_mastery%></span><br>                
              </li>
          <%end%>
        </ol><br>

      <button class="btn btn-warning">
        <%= link_to "Edit Video", edit_user_video_path(current_user, @video), style: "color: white; text-decoration: none;" %>
      </button>

    </div><!--panel body-->
  </div> <!--panel-->
</div><!--container-->




