<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <%=@video.title%> <%if !@video.year.nil?%> (<%=@video.year%>) <%end%>
    </div>
    <div class="panel-body">

        <a href="<%=@video.url%>" target="_blank" style="text-decoration: none;">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
          Watch video clip
        </a>
      
      <br><br>

      <div class="col-sm-12 well">Notes:<br> <%=@video.notes%></div>

      <h4>Associated steps:</h4>
        <ol>
          <%@video.steps.each do |step|%>
            <li><a href="/steps/<%=step.id%>"><%=step.name%> </a><br>
            Current level of mastery: <%=step.level_of_mastery%>
              <ul>
                <%step.styles.each do |style|%>
                <span class="label label-primary"><%=style.name%></span>
                <%end%><br><br>
              </ul>
            </li>
          <%end%>
        </ol>

      <button class="btn btn-warning">
        <a href="/videos/<%=@video.id%>/edit" style="color: white; text-decoration: none;">
          Edit Video Info
        </a>
      </button>

    </div><!--panel body-->
  </div> <!--panel-->
</div><!--container-->



