
<%= form_for(@step) do |f| %>


  <div class="row">
    <div class="col-sm-4">
      <%= f.label :name, "Step Name:"%>
      <%= f.text_field :name %>
    </div>

    <div class="col-sm-8">
      <%= f.label :level_of_mastery, "Current level of mastery (1-10):" %>
      <%= f.number_field :level_of_mastery, max: 10, min: 0 %>
    </div>
  </div><br> <!--row1-->  

   <div class="row">
     <div class="col-sm-12">
      <%= f.label :notes, "Step Notes:" %><br>
      <%= f.text_area :notes, class: "well col-sm-12" %><br><br>
      <%= f.hidden_field :user_id %>
     </div> 
   </div> <!--row2-->

   <div class="row">   

      <%= f.label :style_ids, "Style Tags:" %><br>
      <%= f.collection_check_boxes :style_ids, current_user.styles, :id, :name do |cb| %>
        <%= cb.label class:"checkbox-inline no_indent" do %>
          <%= cb.check_box + cb.text%>
        <%end%>

    <% end %>
    <br>

 
    <%= f.fields_for :styles, @step.styles.build do |s| %>
      <br>Add a new style:  <%= s.text_field :name %><br>
      <%= s.hidden_field :user_id, :value => params[:user_id]  %>
    <% end %>
   
      <br><br>
  </div> <!--row3-->    

      <h4>Videos/Timestamps:</h4>

      <ul class="list-group timemarkers">
        <%@step.timemarkers.each do |tm|%>
          <% if tm.id #don't include blank list item (result of the build?)%>
            <li class="list-group-item" data-id="<%= tm.id %>">
              <%=tm.video.title%> 
              <%if tm.video.year%>(<%=tm.video.year%>)<%end%> 
              -  at: <%=tm.marker%>
              <span class="pull-right x" style="color: red; cursor: pointer;">X</span>
            </li>
          <%end%>
        <%end%>
      </ul>
      <br>

      <%= f.fields_for :timemarkers, @step.timemarkers.build do |t| %>

         <div class="dropdown add_video">
              <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Add Video/Timestamp
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#" id="from_library">From my library</a></li>
                <li><a href="#" id="add_new">Add New</a></li>
              </ul>
          </div>
          <a href="#" id="cancel">Cancel</a><br><br>


    <div class="row">
      <div class="col-sm-12"> 

        <div class="timestamp_field">
          <%= t.label :marker, "Timestamp where step occurs (required)*:"%>
          <%= t.text_field :marker, :class => "timestamp" %><br><br>
        </div>

        <div class="new_video_fields_group">
          <%= t.fields_for :video, @step.timemarkers.build.build_video do |v| %>
            <%= v.label :url, "URL:" %>
            <%= v.text_field :url, :class => "url_field" %><br> 
            <%= v.label :title, "Title:" %>      
            <%= v.text_field :title, :class => "title_field" %><br>
            <%= v.label :year, "Year:" %>
            <%= v.text_field :year, :class => "year_field" %><br>
           <br><br> 
        </div> 
           
        <div class="video_dropdown">
             <%= v.label :id, "Video:" %>
              <%= v.collection_select(:id, current_user.videos.order(:title), :id, :title, include_blank: true, :class => "video_library" )%> <br>   
        <div><br><br>
       
      </div>
    </div><br><!--row 4-->        

          <%= v.hidden_field :user_id, :value => params[:user_id]  %>
        <% end %>
       
      <% end %>


      <%= f.submit :class => "btn btn-warning " %>
<%end%>


      