<div class="container">
  <h3>Edit Step:</h3>
  <div class="jumbotron">

    <form method="post" action="/steps/<%=@step.id%>">
      <input type="hidden" id="hidden" name="_method" value="PATCH">

      <div class="row">
        <div class="col-sm-4">
          <label for="name">Step Name:</label>
          <input type="text" name="step[name]" id="name" value="<%=@step.name%>"> <br><br>
        </div>

        <div class="col-sm-8">
          <label for="level_of_mastery">Current level of mastery (1-10):</label>
          <input type="text" name="step[level_of_mastery]" id="level_of_mastery" value="<%=@step.level_of_mastery%>" ><br>
         </div>
      </div> <!--row1-->

      <div class="row">
        <label for="notes">Notes:</label><br>
        <input class="well col-sm-12" type="text" name="step[notes]" id="notes" value="<%=@step.notes%>" cols="30" rows="5">
      </div> <!--row2-->

      <div class="row">
        <h4>Style:</h4>
        <% Style.all.each do |style| %>
          <label class="checkbox-inline no_indent" for="<%=style.id%>"> 
            <input type="checkbox" id="<%= style.id %>"  name="step[style_ids][]" value="<%= style.id %>"<%= 'checked' if @step.styles.include?(style)%> ><%=style.name%></input>
          </label>
          <% end %>
          <br><br>
      </div> <!--row3-->

      <div class="row">
        <h4>Add video clip:</h4>
        <div class="col-sm-4">
          <label for="video_title">Title:</label>
          <input type="text" name="video[title]" id="title"><br>
          <label for="video_year">Year:</label>
          <input type="text" name="video[year]" id="year"><br>
        </div>

        <div class="col-sm-8">
          <label for="url">URL:</label><br>
          <input class="col-sm-8" type="text" name="video[url]" id="url"><br><br>
        </div>
      </div> <!--row4-->

      <div class="row">
      <h4>Associate other video clips from library:</h4>
        <% current_user.videos.each do |video| %>
          <label class="checkbox-inline no_indent" for="<%=video.id%>">
          <input type="checkbox" id="<%=video.id%>" name="step[video_ids][]" value="<%= video.id %>"<%= 'checked' if @step.videos.include?(video)%>><%= video.title %></input><br>
          </label>
        <% end %> 
        <br><br>
        </div> <!--row5-->

      <div class="row"> 
          <input class="btn btn-info pull-left" type="submit" value="Save Changes">
    </form> <!--end of "edit" form-->
          <form method="post" action="/steps/<%=@step.id%>/delete">
            <input type="hidden" id="hidden" name="_method" value="delete">
            <input class="btn btn-danger pull-right" type="submit" value="Delete Step">
          </form><!--end of "delete" form -->
      </div> <!--row6-->

  </div> <!--jumbotron-->
</div> <!--container-->