<div class="container">
  <button class="btn btn-primary">
      <%= link_to "Add a New Step", new_user_step_path(current_user, @step) %>
  </button>
  
  <form class=" dropdown-toggle-default pull-right">
  <h4>Filter by Style:</h4>
    <%= select("style", "id", Style.all.map {|s| [s.name, s.id] }, {:include_blank => 'All'}, style: "background-color: white;") %>
    <input type="submit" value="Filter" />
  </form><br><br><br>

  <%= form_tag(user_steps_path(current_user), :method => "get", id: "search-form", class: "pull-right") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search all steps" %>
    <%= submit_tag "Search" %>
  <% end %>
 

    <h2 class="heading">My Steps:</h2>

    <% if params[:search] && @steps.empty? %>
      <p class ="alert alert-warning">
        Sorry! Could not find any steps containing the term "<%= params[:search] %>."
      </p>
    <% end %>

    <ol>
      <%@steps.order(:name).each do |step|%>
        <li>   
          <div class="panel panel-success">
            <div class="panel-heading">
              <%= link_to "#{step.name}", user_step_path(current_user, step)%>
            </div><!--panel heading-->   

            <div class="panel-body">
              <p class="col-sm-4">
                Styles:<br>
                 <%step.styles.uniq.each do |style|%>
                <span class="label label-info"><%=style.name%></span> 
                <%end%><br><br>
                Current level of mastery: <%=step.level_of_mastery%><br>
              </p>

              <div class="col-sm-4 well">Notes:<br> <%=step.notes%></div>

              <div class="col-sm-4">      
                Associated videos:<br>
                <ul>
                  <%step.videos.uniq.each do |video|%>
                  <li><%= link_to "#{video.title}", user_video_path(current_user, video)%></li>
                  <%end%>
                </ul>
              </div>

            </div> <!--panel body-->
          </div> <!--panel-->  
        </li>
      <%end%>
   </ol>

</div> <!--container-->  
    
  