
<div class="container">
  <button class="btn btn-primary">
      <%= link_to "Add a New Step", new_user_step_path(current_user, @step) %>
  </button>
    

    <h3 class="heading"><%=current_user.email%>'s steps:</h3>

    <ol>
      <%@steps.order(:name).each do |step|%>
        <li>   
          <div class="panel panel-success">
            <div class="panel-heading"><%= link_to "#{step.name}", user_step_path(current_user, step)%></div>         <div class="panel-body">

              <p class="col-sm-4">
                Styles:<br>
                 <%step.styles.uniq.each do |style|%>
                <span class="label label-info"><%=style.name%></span> 
                <%end%><br><br>
                Current level of mastery: <%=step.level_of_mastery%><br>
              </p>

              <div class="col-sm-4 well">Notes:<br> <%=step.notes%></div>

              <div class="col-sm-4">      
                Associated videos:<br>
                <ul>
                  <%step.videos.uniq.each do |video|%>
                  <li><%= link_to "#{video.title}", user_video_path(current_user, video)%></li>
                  <%end%>
                </ul>
              </div>

            </div> <!--panel body-->
          </div> <!--panel-->  
        </li>
      <%end%>
   </ol>

</div> <!--container-->

  
    
  