<body id="show_page">
<div class="container">
  <div class="panel panel-success">
    <div class="panel-heading"><%=@step.name%></div>
    <div class="panel-body">
      Current level of mastery: <%=@step.level_of_mastery%><br>

      Styles: <%@step.styles.each do |style|%>

     <span class="label label-success"><%=style.name%></span>

      <%end%>
      <br></br>

      
  
       <div class="col-sm-12 well">Notes:<br> <%=@step.notes%></div>
      

        <h4>Video Clips:</h4>
        <ol>
        <%@step.videos.uniq.each do |video|%>        
          <li>
            <%= link_to "#{video.title}", user_video_path(current_user, video)%><%if !video.year.nil?%> (<%=video.year%>) <%end%> <br>
          </li><br>
        <%end%>
        </ol><br>      
     

      <button class="btn btn-warning">
         <%= link_to "Edit Step", edit_user_step_path(current_user, @step), style: "color: white; text-decoration: none;" %>
      </button>

    </div><!--panel body-->
  </div> <!--panel-->
</div><!--container-->
</body>
